@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

$ThemesColor: #82FAD2;
$WhiteColor: #FFFFFF;
$BlackColor: #000000;
$FontsColor: #1E1E1E;
$smallShadow: 0 .125rem .25rem rgba(0,
        0,
        0,
        .075);
$RegularShadow: 0 .5rem 1rem rgba(0,
        0,
        0,
        .15);
$LargShadow: 0 1rem 3rem rgba(0,
        0,
        0,
        .175);
$transitionEffect: all 0.5s ease;
$PoppinsFontFamily: 'Poppins',
sans-serif;
$OpenSansFontFamily: 'Open Sans',
sans-serif;
html {
  max-height: 100%;
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  font-family: $PoppinsFontFamily;
  overflow-x: hidden;
}

::selection {
  color: #fff;
  background-color: $ThemesColor;
}

::-moz-selection {
  color: #fff;
  background-color: $ThemesColor;
}

.main_slider_sections {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;

  .mainSliderOverlay {
    position: absolute;
    left: auto;
    right: 0;
    z-index: 99;
  }

  .hometopButton {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 999;

    .homepageTopButton {
      padding: 4px 20px;
      font-size: 18px;
      text-transform: uppercase;
      border-radius: 5px;
      border: solid 1px $FontsColor;
      background-color: $WhiteColor;
      color: $FontsColor;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .homeSliderContent {
    position: relative;
    z-index: 9999;
    text-align: center;
    margin-top: -150px;
    margin-left: 150px;
    @media(max-width: 1366px) {
      margin-left: 0;
    }
    @media(max-width: 767px) {
      margin-top: 0px;
    }

    img {
      width: 100%;
      max-width: 250px;
      margin-bottom: 30px;
      @media(max-width: 767px) {
        max-width: 200px;
      }
    }

    p {
      font-size: 22px;
      width: 100%;
      max-width: 550px;
      margin-bottom: 60px;
      @media(max-width: 575px) {
        max-width: 100%;
        padding: 0 20px;
        font-size: 18px;
      }
    }

    a {
      width: fit-content;
      padding: 8px 50px;
      background-color: $FontsColor;
      color: $WhiteColor;
      font-size: 20px;
      border-radius: 8px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.NoInvestmentSection {
  position: relative;
  background-color: $FontsColor;
  padding: 140px 0;
  @media(max-width: 767px) {
    padding: 200px 0 40px 0;
  }

  .NoInvestmentContent {
    position: relative;
    color: $WhiteColor;
    text-align: center;
    font-family: $PoppinsFontFamily;
    @media(max-width: 991px) {
      margin-bottom: 50px;
      padding-bottom: 50px;
    }

    &::before {
      content: '';
      position: absolute;
      left: auto;
      right: -20px;
      background-color: #84C7AC;
      width: 2px;
      height: 100%;
      top: 0;
      @media(max-width: 991px) {
        bottom: 0;
        width: 60%;
        height: 2px;
        left: 0;
        right: 0;
        top: auto;
        margin: auto;
      }
    }

    .noInvestment_img {
      width: 44px;
      height: 44px;
      margin: 0 auto 20px;
      border-radius: 50%;
      background-color: $WhiteColor;
    }

    p {
      font-size: 22px;
      margin: 0;
      line-height: 35px;
      @media(max-width: 767px) {
        margin: 0 0 30px 0;
        font-size: 20px;
      }
    }
  }

  .NoInvestmentContent.lastNoborder {
    &::before {
      display: none;
    }
  }
}

.howItWorkSection {
  position: relative;
  padding: 120px 0;

  .commoneHeading {
    position: relative;
    text-align: center;
    font-family: $PoppinsFontFamily;

    h2 {
      font-size: 40px;
      text-transform: uppercase;
      color: $FontsColor;
      margin: 0 0 80px 0;
      font-weight: 600;
      @media(max-width: 991px) {
        font-size: 35px;
      }
      @media(max-width: 767px) {
        font-size: 25px;
      }
    }
  }

  .howItWorkscount {
    text-align: center;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: auto;
      right: 30px;
      height: 100%;
      width: 100%;
      top: 0;
      background-image: url('../images/HowItWrokBorder.svg');
      background-repeat: no-repeat;
      background-size: contain;
      @media(max-width: 767px) {
        display: none;
      }
    }

    @media(max-width: 767px) {
      margin-bottom: 40px;
    }

    h3 {
      font-size: 120px;
      color: $ThemesColor;
      font-weight: normal;
      font-family: $OpenSansFontFamily;
      @media(max-width: 1024px) {
        font-size: 60px;
      }
    }

    p {
      font-size: 24px;
      margin: 0;
      color: $FontsColor;
      font-family: $PoppinsFontFamily;
      font-weight: 500;
      @media(max-width: 1024px) {
        font-size: 18px;
      }
      @media(max-width: 767px) {
        font-size: 16px;
      }
    }
  }

  .howItWorkscount.lastNoborder {
    &::before {
      display: none;
    }
  }
}

.HomeFAQSection {
  position: relative;
  padding: 40px 0 80px 0;

  .commoneHeading {
    position: relative;
    margin-bottom: 40px;
    text-align: center;

    h2 {
      font-size: 45px;
      color: $ThemesColor;
      font-family: $PoppinsFontFamily;
      margin: 0;
      font-weight: 500;
      @media(max-width: 991px) {
        font-size: 30px;
      }
    }
  }

  .faqQuestions {
    font-family: $PoppinsFontFamily;
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    max-width: 90%;
    @media(max-width: 991px) {
      max-width: 100%;
    }

    h3 {
      font-size: 22px;
      margin-bottom: 15px;
      color: $FontsColor;
      font-weight: bold;
      @media(max-width: 991px) {
        font-size: 18px;
      }
    }

    p {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      color: #8095AB;
      text-align: justify;
      @media(max-width: 991px) {
        font-size: 14px;
      }
    }
  }
}

footer {
  position: relative;
  padding: 20px 0;
  background-color: $FontsColor;

  .footercontents {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $PoppinsFontFamily;

    p {
      margin: 0;
      font-size: 16px;
      color: $WhiteColor;
      @media(max-width: 991px) {
        font-size: 10px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;

      li {
        margin-right: 40px;
        @media(max-width: 991px) {
          margin-right: 15px;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          color: $WhiteColor;
          transition: $transitionEffect;
          font-size: 16px;
          @media(max-width: 991px) {
            font-size: 10px;
          }

          &:hover {
            transition: $transitionEffect;
            color: $ThemesColor;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.adminLayoutSection {
  position: relative;
  width: 100%;
  height: calc(100% - 97px);
  display: flex;
  align-items: center;

  .adminLeftside {
    width: 100%;
    max-width: 350px;
    height: 100%;
    background-color: #F1F1F1;
    position: relative;
    @media(max-width: 1200px) {
      display: none;
    }

    .logoSections {
      position: relative;
      padding: 60px 0 0 40px;

      img {
        width: 100%;
        max-width: 160px;
      }
    }

    .leftsideMenus {
      position: relative;
      padding: 40px 0 0 40px;
      font-family: $PoppinsFontFamily;

      h3 {
        font-size: 26px;
        font-weight: 500;
        color: $FontsColor;
        margin-bottom: 20px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            display: flex;
            align-items: center;
            color: $FontsColor;
            cursor: pointer;
            transition: $transitionEffect;

            &:hover {
              transition: $transitionEffect;
              color: $ThemesColor;
              text-decoration: none;
            }

            img {
              width: 100%;
              max-width: 25px;
              margin-right: 15px;
            }
          }
        }
      }
    }
  }

  .adminRightSide {
    width: 100%;
    height: 100%;
    max-width: calc(100% - 350px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media(max-width: 1200px) {
      max-width: 100%;
      margin-left: 0 !important;
    }

    .responsiveHeader {
      display: none;
      @media(max-width: 1200px) {
        display: block;
        margin-bottom: 60px;
        .navbar {
          .navbar-brand {
            img {
              width: 150px;
            }
          }

          .navbar-toggler {
            &:focus {
              box-shadow: none;
              outline: none;
            }
          }

          .collapse {
            ul {
              h3 {
                font-size: 20px;
                font-weight: bold;
                color: $FontsColor;
              }

              li {
                a {
                  img {
                    width: 100%;
                    max-width: 25px;
                    margin-right: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .ApproveNFT {
      position: relative;
      width: 100%;
      max-width: 710px;
      margin: 0 auto;
      padding: 0 20px;
      text-align: center;
      min-height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 44px;
        font-family: $PoppinsFontFamily;
        color: $FontsColor;
        margin-bottom: 50px;
        font-weight: bold;
        @media(max-width: 991px) {
          font-size: 35px;
        }
      }

      select {
        background-color: #E3FFF1;
        padding: 0 20px;
        height: 60px;
        border-radius: 10px;
        width: 80%;
        font-style: italic;
        border: none;
        font-size: 18px;
        color: #4d4d4d;
        margin: 0 auto 50px auto;

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 215px;
        height: 60px;
        background-color: $ThemesColor;
        color: $BlackColor;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        margin: 0 auto;
        border-radius: 7px;

        &:hover {
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

.submmitingNFTSections {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media(max-width: 991px) {
    padding: 20px;
    text-align: center;
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
    @media(max-width: 991px) {
      font-size: 25px;
    }
  }

  p {
    font-size: 22px;
    color: $FontsColor;
    font-weight: 600;
    margin-bottom: 40px;
    @media(max-width: 991px) {
      font-size: 16px;
    }
  }

  .ViewYourDashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    border-radius: 20px;
    text-align: center;
    border: solid 2px $FontsColor;
    color: $FontsColor;
    font-size: 20px;
    transition: $transitionEffect;
    margin-bottom: 40px;

    &:hover {
      text-decoration: none;
      transition: $transitionEffect;
      background-color: $ThemesColor;
      border: 2px solid $ThemesColor;
      color: $WhiteColor;
    }

    @media(max-width: 991px) {
      padding: 10px 25px;
      width: fit-content;
      font-size: 16px;
    }
  }

  .UploadAnotherNFT {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    background-color: $ThemesColor;
    border-radius: 20px;
    text-align: center;
    border: solid 2px $ThemesColor;
    color: $WhiteColor;
    font-size: 18px;
    transition: $transitionEffect;

    &:hover {
      text-decoration: none;
      transition: $transitionEffect;
      border: solid 2px $FontsColor;
      background-color: transparent;
      color: $FontsColor;
    }

    @media(max-width: 991px) {
      padding: 10px 25px;
      width: fit-content;
      font-size: 16px;
    }
  }
}

.adminLayoutSection.CreatingNFTMain {
  height: auto;

  .adminLeftside {
    position: fixed;
    top: 0;
    left: 0;
  }
}

.adminRightSide.CreateNFTSections {
  display: block;
  padding: 60px 20px 0 20px;
  height: 100%;
  width: 100%;
  min-height: calc(100vh - 88px);
  margin-left: 350px;
  overflow-y: scroll;

  @media(max-width: 1200px) {
    padding: 0px 20px 0 20px;
  }

  h1 {
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    color: $FontsColor;
    margin-bottom: 60px;
    @media(max-width: 991px) {
      font-size: 28px;
      margin-bottom: 25px;
    }
  }

  form {
    width: 100%;
    max-width: 710px;
    margin: 0 auto 150px;
    @media(max-width: 991px) {
      margin: 0 auto 50px;
    }

    .form-group {
      position: relative;

      label {
        font-size: 18px;
        background-color: #E3FFF1;
        position: absolute;
        top: 2px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 2px;
        width: 240px;
        border-radius: 20px 0 0 20px;
        @media(max-width: 575px) {
          position: relative;
          width: 100%;
          border-radius: 20px;
          font-size: 16px;
        }
      }

      input,
      select {
        border: solid 2px $FontsColor;
        height: 60px;
        font-size: 16px;
        border-radius: 20px;
        margin-bottom: 30px;

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }

      select {
        background-color: #E3FFF1;
      }

      input {
        padding-left: 250px;
        @media(max-width: 575px) {
          padding-left: 20px;
          font-size: 18px;
        }
      }

      span {
        position: absolute;
        width: 80px;
        height: 56px;
        background-color: #E3FFF1;
        left: auto;
        right: 2px;
        top: 2px;
        font-size: 18px;
        border-radius: 0 20px 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 575px) {
          top: 67px;
          font-size: 16px;
        }
      }
    }
  }

  form.dashboardPage {
    .form-group {
      label {
        background-color: $FontsColor;
        color: $WhiteColor;
        top: 1px;
        height: 57px;
        left: 0;
      }

      span {
        width: 110px;
      }
    }
  }

  .customTableSection {
    position: relative;
    width: 100%;
    max-width: 950px;
    margin: 40px auto 80px;

    .tableContent {
      display: flex;
      align-items: center;
      border-bottom: solid 2px #DBEDE5;
      height: 80px;
      @media(max-width: 991px) {
        height: auto;
        padding: 15px 10px;
        flex-wrap: wrap;
      }

      &:last-child {
        border-bottom: none;
      }

      .SnoSection {
        width: 150px;
        text-align: left;
        @media(max-width: 991px) {
          width: 40%;
        }

        p {
          margin: 0;
          font-size: 24px;
          font-weight: normal;
        }

        .SnoSectionContent {
          font-size: 16px;
          padding-left: 5px;
        }
      }

      .itemSections {
        width: 300px;
        text-align: left;
        @media(max-width: 991px) {
          width: 60%;
        }

        p {
          margin: 0;
          font-size: 24px;
          font-weight: normal;
          @media(max-width: 767px) {
            font-size: 20px;
          }
        }

        .itemSectionsContent {
          font-size: 16px;
          padding-left: 5px;
        }
      }

      .optionsButtons {
        width: calc(100% - 450px);
        text-align: right;
        padding-right: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @media(max-width: 991px) {
          width: 100%;
          justify-content: flex-start;
          margin-top: 20px;
        }

        a {
          margin: 0;
          padding: 0;
          border: solid 2px $FontsColor;
          width: 180px;
          height: 40px;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-left: 20px;
          font-size: 18px;
          transition: $transitionEffect;

          &:hover {
            text-decoration: none;
          }
        }

        .ViewStatusButtons {
          color: $FontsColor;

          &:hover {
            background-color: $FontsColor;
            transition: $transitionEffect;
            color: whitesmoke;
          }
        }

        .CancelOfferButton {
          border: solid 2px #FF4C4C;
          color: #FF4C4C;

          &:hover {
            transition: $transitionEffect;
            background-color: #FF4C4C;
            color: $WhiteColor;
          }
        }
      }

      .mobileDisplay {
        @media(max-width: 991px) {
          display: none;
        }
      }
    }
  }

  .uploadNewNFTbutotn {
    text-align: center;
    margin-bottom: 80px;

    a {
      background-color: #82FAD2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 280px;
      height: 60px;
      font-size: 18px;
      border-radius: 15px;
      font-weight: 600;
      color: $FontsColor;
      font-weight: 600;
      margin: 0 auto;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .CreatingNFT_Types {
    position: relative;
    width: 100%;
    max-width: 950px;
    margin: 0 auto 80px;

    h2 {
      text-align: center;
      font-size: 25px;
      font-weight: normal;
      color: $FontsColor;
      margin-bottom: 60px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: auto;
        width: 40%;
        height: 2px;
        background-color: #DBEDE5;
        bottom: 45%;
      }

      &::after {
        content: '';
        position: absolute;
        left: auto;
        right: 0;
        width: 40%;
        height: 2px;
        background-color: #DBEDE5;
        bottom: 45%;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      li {
        margin-bottom: 25px;
        width: 25%;
        text-align: left;
        @media(max-width: 991px) {
          width: 30%;
        }
        @media(max-width: 767px) {
          width: 45%;
        }
        @media(max-width: 480px) {
          width: 100%;
        }

        input[type="checkbox"] {
          display: none;
        }

        input[type="checkbox"] + label {
          display: block;
          position: relative;
          padding-left: 35px;
          font-size: 18px;
          font-family: $PoppinsFontFamily;
          color: $FontsColor;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
        }

        input[type="checkbox"] + label:last-child {
          margin-bottom: 0;
        }

        input[type="checkbox"] + label:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          border: 2px solid #82FAD2;
          position: absolute;
          border-radius: 4px;
          left: 0;
          top: 5px;
          -webkit-transition: all .12s, border-color .08s;
          transition: all .12s, border-color .08s;
        }

        input[type="checkbox"]:checked + label:before {
          width: 10px;
          top: -5px;
          left: 5px;
          border-radius: 0;
          opacity: 1;
          border-top-color: transparent;
          border-left-color: transparent;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }

  .creatingNFT_Description {
    position: relative;
    width: 100%;
    max-width: 950px;
    margin: 40px auto 40px;

    h2 {
      text-align: center;
      font-size: 25px;
      font-weight: normal;
      color: $FontsColor;
      margin-bottom: 100px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: auto;
        width: 38%;
        height: 2px;
        background-color: #DBEDE5;
        bottom: 45%;
      }

      &::after {
        content: '';
        position: absolute;
        left: auto;
        right: 0;
        width: 38%;
        height: 2px;
        background-color: #DBEDE5;
        bottom: 45%;
      }
    }

    textarea {
      text-align: left;
      width: 100%;
      max-width: 700px;
      height: 242px;
      background-color: #E3FFF1;
      border-radius: 20px;
      font-size: 20px;
      color: $FontsColor;
      margin: 0 auto;
      resize: none;

      &::placeholder {
        font-style: italic;
        font-weight: normal;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .Description_termofService {
    position: relative;
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
  }

  .creatingNFTUpload {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    font-size: 22px;
    color: $FontsColor;
    background-color: #82FAD2;
    margin-top: 40px;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }
  }

  .galleryFilterSection {
    position: relative;
    width: 100%;
    margin: 60px auto 0;

    .NFTFilterSection {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      @media(max-width: 575px) {
        flex-direction: column;
        align-items: inherit;
      }

      span {
        font-size: 18px;
        color: $FontsColor;
        margin-right: 50px;
        @media(max-width: 1540px) {
          margin-right: 20px;
        }
        @media(max-width: 575px) {
          font-size: 16px;
          font-weight: 600;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: calc(100% - 110px);
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 1200px) {
          justify-content: inherit;
          width: auto;
        }

        li {
          position: relative;
          margin-right: 30px;
          @media(max-width: 1540px) {
            margin-right: 10px;
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            border: 2px solid transparent;
            padding: 4px 15px;
            border-radius: 15px;
            transition: $transitionEffect;
            cursor: pointer;
            color: $FontsColor;
            @media(max-width: 1364px) {
              font-size: 14px;
              padding: 4px 10px;
            }
            @media(max-width: 575px) {
              font-size: 14px;
              padding: 4px 8px;
            }

            &:hover {
              transition: $transitionEffect;
              text-decoration: none;
              border-color: #82FAD2;
              color: #82FAD2;
            }

            &.active {
              border-color: #82FAD2;
              color: #82FAD2;
            }
          }
        }
      }
    }

    .NFTFilterSection.prcieFilterSection {
      padding-left: 50px;
      position: relative;
      @media(max-width: 1200px) {
        padding-left: 0;
        margin-top: 40px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: auto;
        width: 2px;
        height: 50px;
        background-color: #DBEDE5;
        @media(max-width: 1200px) {
          display: none;
        }
      }
    }
  }

  .NFTCardSections {
    position: relative;
    width: 100%;
    max-width: 1050px;
    margin: 80px auto 0;
    text-align: center;

    .NFTCard {
      margin-bottom: 50px;
      position: relative;

      .NFTuserCard {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        overflow: hidden;
        margin: 0 auto 20px;
        @media(max-width: 575px) {
          width: 150px;
          height: 150px;
        }
        @media(max-width: 400px) {
          width: 100px;
          height: 100px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    h2 {
      font-size: 24px;
      font-weight: 400;
      color: $FontsColor;
      margin: 0 0 10px 0;
      @media(max-width: 575px) {
        font-size: 18px;
      }
    }

    p {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      @media(max-width: 575px) {
        font-size: 16px;
      }
    }
  }

  .NFTNameSection {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;

    .NFTNameCard {
      display: flex;
      align-items: center;
      position: relative;
      @media(max-width: 480px) {
        flex-direction: column;
      }

      .NFTNameCard_img {
        width: 200px;
        height: 180px;
        background-color: #F4F4F4;
        border-radius: 10px;
        overflow: hidden;
        margin-right: 40px;
        @media(max-width: 767px) {
          width: 150px;
          height: 150px;
        }
        @media(max-width: 480px) {
          margin-bottom: 30px;
          margin-right: 0;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .NFTNameCard_userName {
        position: relative;

        h2 {
          font-size: 30px;
          font-weight: 600;
          color: $FontsColor;
          margin: 0 0 10px 0;
          text-transform: uppercase;
          @media(max-width: 767px) {
            font-size: 20px;
          }
        }

        span {
          font-size: 20px;
          color: $FontsColor;
          @media(max-width: 767px) {
            font-size: 18px;
          }
        }

        p {
          font-size: 30px;
          color: #46D9A8;
          font-weight: 500;
          @media(max-width: 767px) {
            font-size: 22px;
          }
        }
      }
    }
  }

  .NFTDescriptions {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 120px auto 0;
    @media(max-width: 767px) {
      margin: 60px auto 0;
    }

    h2 {
      font-size: 25px;
      color: $FontsColor;
      font-weight: normal;
      position: relative;
      margin-bottom: 50px;
      @media(max-width: 767px) {
        font-size: 22px;
        margin-bottom: 20px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        right: auto;
        width: 35%;
        height: 2px;
        bottom: 45%;
        background-color: #DBEDE5;
        @media(max-width: 480px) {
          display: none;
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: auto;
        right: 0;
        width: 35%;
        height: 2px;
        bottom: 45%;
        background-color: #DBEDE5;
        @media(max-width: 480px) {
          display: none;
        }
      }
    }

    p {
      width: 100%;
      max-width: 750px;
      margin: 0 auto 40px;
      font-size: 20px;
      color: $FontsColor;
      @media(max-width: 767px) {
        max-width: 100%;
        text-align: left;
        padding: 0 20px;
        font-size: 18px;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 0;
      width: 280px;
      height: 50px;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      background-color: #82FAD2;
      color: $FontsColor;
      border-radius: 20px;
      text-align: center;
      box-shadow: $RegularShadow;
      @media(max-width: 767px) {
        font-size: 18px;
        width: fit-content;
        padding: 10px 30px;
      }

      &:hover {
        text-decoration: none;
      }

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .CreatesharingLink {
    position: relative;
    border-top: solid 2px #FF4C4C;
    margin-top: 120px;
    padding-top: 10px;
    margin-bottom: 120px;
    @media(max-width: 767px) {
      margin-bottom: 60px;
    }

    h4 {
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
      color: $FontsColor;
      margin-bottom: 40px;
      @media(max-width: 767px) {
        font-size: 16px;
        padding: 0 12px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 60px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @media(max-width: 767px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
      }

      li {
        margin-bottom: 20px;
        position: relative;
        @media(max-width: 767px) {
          margin-right: 0 !important;
          margin-bottom: 50px;
        }

        input {
          border: 2px $FontsColor solid;
          height: 50px;
          padding: 0 20px;

          &:focus {
            box-shadow: none;
            outline: none;
          }
        }

        &:first-child {
          margin-right: 80px;

          input {
            width: 260px;
            border-radius: 20px;
          }

          &::before {
            content: '+';
            position: absolute;
            left: auto;
            right: -40px;
            top: 8px;
            font-size: 24px;
            font-weight: bold;
            color: $FontsColor;
            @media(max-width: 767px) {
              right: 0;
              left: 44%;
              margin: auto;
              bottom: 0;
              top: 52px;
            }
          }
        }

        &:nth-child(2) {
          margin-right: 50px;

          input {
            width: 200px;
            border-radius: 15px;
          }

          &::before {
            content: '=';
            position: absolute;
            left: auto;
            right: -30px;
            top: 8px;
            font-size: 24px;
            font-weight: bold;
            color: $FontsColor;
            @media(max-width: 767px) {
              right: 0;
              left: 44%;
              margin: auto;
              bottom: 0;
              top: 52px;
            }
          }
        }

        &:last-child {
          input {
            width: 150px;
            border-radius: 20px;
          }
        }
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 0;
      width: 380px;
      height: 50px;
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      background-color: #82FAD2;
      color: $FontsColor;
      border-radius: 20px;
      text-align: center;
      box-shadow: $RegularShadow;
      @media(max-width: 767px) {
        padding: 10px 30px;
        width: fit-content;
        font-size: 18px;
      }

      &:hover {
        text-decoration: none;
      }

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .link-ready {
    position: relative;
    margin-top: 120px;
    border-top: solid 2px #FF4C4C;
    padding-top: 10px;
    width: 100%;

    h4 {
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
      color: #1E1E1E;
      margin-bottom: 60px;
      @media(max-width: 767px) {
        font-size: 16px;
      }
    }

    h3 {
      font-size: 25px;
      font-weight: 600;
      color: $FontsColor;
      margin-bottom: 40px;
      text-align: center;
      @media(max-width: 767px) {
        font-size: 20px;
      }
    }

    form {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      margin-bottom: 80px;

      input {
        width: calc(100% - 130px);
        height: 55px;
        border: 2px solid transparent;
        background-color: #E3FFF1;
        border-radius: 15px;
        padding: 0 20px;
        font-size: 20px;
        margin-right: -20px;
        transition: $transitionEffect;

        &:focus {
          box-shadow: none;
          outline: none;
          border: solid 2px $FontsColor;
          transition: $transitionEffect;
        }
      }

      button {
        background-color: $FontsColor;
        width: 120px;
        color: #E3FFF1;
        border: none;
        height: 65px;
        text-transform: uppercase;
        border-radius: 15px;
        cursor: pointer;

        &:focus {
          box-shadow: none;
          outline: one;
        }
      }
    }
  }

  .influencerDashboard {
    position: relative;

    h1 {
      font-size: 35px;
      font-weight: 600;
      margin-bottom: 60px;
      @media(max-width: 767px) {
        font-size: 22px;
      }
    }

    .dashboardPage {
      .form-group {
        input {
          @media(max-width: 767px) {
            font-size: 18px;
            padding-left: 20px;
          }
        }

        label {
          background-color: #82FAD2;
          left: 2px;
          height: 56px;
          top: 2px;
          color: $FontsColor;
          @media(max-width: 767px) {
            position: relative;
            width: 100%;
            border-radius: 15px;
            margin-bottom: 3px;
            font-size: 16px;
          }
        }

        span {
          background-color: $FontsColor;
          color: $WhiteColor;
          top: 1px;
          height: 58px;
          @media(max-width: 767px) {
            position: absolute;
            top: 60px;
            font-size: 16px;
          }
        }
      }
    }

    .customTableSection {
      position: relative;

      h2 {
        font-size: 22px;
        text-transform: uppercase;
        color: #46D9A8;
        opacity: 0.8;
        position: relative;
        padding-left: 15px;
        margin-bottom: 40px;

        &::before {
          content: '';
          position: absolute;
          left: 0px;
          top: 0;
          width: 2px;
          background-color: #46D9A8;
          height: 100%;
        }
      }

      .tableContent {
        &:last-child {
          border-bottom: solid 2px #DBEDE5;
        }

        .optionsButtons {
          .ViewStatusButtons {
            width: 225px;
            border-color: #82FAD2;

            &:hover {
              background-color: #82FAD2;
            }
          }
        }
      }

      table.table {
        width: 100%;
        @media(max-width: 640px) {
          display: block;
          overflow-x: auto;
        }

        tr {
          &:first-child {
            th {
              border-top: none;
            }
          }

          th {
            font-size: 24px;
            text-transform: uppercase;
            color: $FontsColor;
            font-weight: normal;
            @media(max-width: 767px) {
              font-size: 20px;
            }

            &:last-child {
              text-align: right;
            }
          }

          td {
            font-size: 18px;
            vertical-align: middle;
            padding: 25px 15px;
            @media(max-width: 767px) {
              font-size: 14px;
            }

            &:last-child {
              text-align: right;
            }
          }
        }
      }
    }

    .loadMoreButton {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 40px;

      a {
        border: 1px solid #82FAD2;
        background-color: transparent;
        color: #82FAD2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 6px 20px;
        border-radius: 10px;

        &:hover {
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}

.ArtistSection {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 991px) {
    flex-direction: column;
  }

  .iAmArtis {
    position: relative;
    width: 100%;
    max-width: 50%;
    height: 100%;
    background-color: #E3FFF1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @media(max-width: 991px) {
      max-width: 100%;
      height: 50%;
    }

    .iAmArtis_overlay {
      position: absolute;
      left: 0;
      right: auto;
      top: 0;

      img {
        width: 100%;
        max-width: 70%;
      }
    }

    h1 {
      font-size: 45px;
      line-height: 60px;
      margin-bottom: 45px;

      span {
        font-weight: bold;
        color: $FontsColor;
      }

      @media(max-width: 991px) {
        font-size: 40px;
        .removeBrTag {
          display: none;
          @media(max-width: 767px) {
            display: block;
          }
        }
      }
      @media(max-width: 767px) {
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 30px;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 220px;
      height: 60px;
      font-size: 20px;
      background-color: $FontsColor;
      color: $WhiteColor;
      border-radius: 20px;
      margin: 0 auto;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .iAmInfluencer {
    position: relative;
    width: 100%;
    max-width: 50%;
    height: 100%;
    background-color: $FontsColor;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    @media(max-width: 991px) {
      max-width: 100%;
      height: 50%;
    }

    .iAmInfluencer_overlay {
      position: absolute;
      left: auto;
      right: 0;
      bottom: 0;

      img {
        width: 100%;
        max-width: 100%;
      }
    }

    h1 {
      font-size: 45px;
      line-height: 60px;
      margin-bottom: 45px;
      color: $WhiteColor;

      span {
        font-weight: bold;
        color: $WhiteColor;
      }

      @media(max-width: 991px) {
        font-size: 40px;
        .removeBrTag {
          display: none;
          @media(max-width: 767px) {
            display: block;
          }
        }
      }
      @media(max-width: 767px) {
        font-size: 35px;
        line-height: 50px;
        margin-bottom: 30px;
      }
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 220px;
      height: 60px;
      font-size: 22px;
      background-color: #82FAD2;
      color: $BlackColor;
      border-radius: 20px;
      margin: 0 auto;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.buyWithMetamask {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media(max-width: 991px) {
    max-width: 100%;
  }

  .bgbuyWithMetamask {
    width: 100%;
    height: 600px;
    margin: auto;
    background-image: url('../images/thankBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    @media(max-width: 991px) {
      background-image: url('../images/thankBackground_mobile.png');
      height: 100%;
      width: 100%;
    }

    .topNFTNameBox {
      background-color: $WhiteColor;
      box-shadow: $RegularShadow;
      padding: 20px;
      width: 350px;
      margin: 0 auto;
      text-align: center;
      border-radius: 10px;
      @media(max-width: 991px) {
        margin-top: 20px;
      }
      @media(max-width: 767px) {
        width: 80%;
      }

      h2 {
        font-size: 22px;
        font-weight: normal;
        color: $FontsColor;
        margin: 0 0 5px 0;
        text-transform: uppercase;
        @media(max-width: 767px) {
          font-size: 18px;
        }
      }

      span {
        font-size: 18px;
        font-weight: normal;
        color: $FontsColor;
        display: block;
        margin: 0 0 10px 0;
        @media(max-width: 767px) {
          font-size: 16px;
        }
      }

      p {
        font-size: 25px;
        color: #46D9A8;
        margin: 0;
        font-weight: normal;
        @media(max-width: 767px) {
          font-size: 22px;
        }
      }
    }

    .ThanksNFTPlaceholder {
      position: relative;
      width: 120px;
      height: 120px;
      overflow: hidden;
      border-radius: 5px;
      margin: 20px auto 0;
      background-color: #DBEDE5;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .buyDescriptions {
      position: relative;
      width: 1005;
      max-width: 700px;
      margin: 20px auto 0;
      @media(max-width: 767px) {
        margin: 40px auto 0;
      }

      h2 {
        font-size: 22px;
        font-weight: normal;
        color: $FontsColor;
        position: relative;
        margin-bottom: 40px;
        @media(max-width: 991px) {
          font-size: 20px;
        }
        @media(max-width: 767px) {
          font-size: 18px;
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: auto;
          width: 36%;
          bottom: 40%;
          height: 2px;
          background-color: $WhiteColor;
          @media(max-width: 767px) {
            display: none;
          }
        }

        &::after {
          content: '';
          position: absolute;
          left: auto;
          right: 0;
          width: 36%;
          bottom: 40%;
          height: 2px;
          background-color: $WhiteColor;
          @media(max-width: 767px) {
            display: none;
          }
        }
      }

      p {
        font-size: 18px;
        color: $FontsColor;
        @media(max-width: 991px) {
          font-size: 16px;
        }
        @media(max-width: 767px) {
          padding: 0 10px;
        }
      }

      button {
        border: none;
        background-color: $FontsColor;
        padding: 10px 30px;
        color: $WhiteColor;
        border-radius: 10px;
        font-size: 18px;
        margin-top: 20px;
        text-transform: uppercase;
        cursor: pointer;

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}

.buyWithMetamask {
  .bgbuyWithMetamask.thanksSections {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      margin-bottom: 40px;
    }

    h1 {
      font-size: 30px;
      text-align: center;
      color: $FontsColor;
      margin: 0 0 10px 0;
      font-weight: 600;
      @media(max-width: 991px) {
        font-size: 25px;
      }
      @media(max-width: 767px) {
        font-size: 18px;
        padding: 0 15px;
      }
    }

    p {
      text-align: center;
      font-size: 20px;
      color: $FontsColor;
      @media(max-width: 991px) {
        font-size: 14px;
      }
    }
  }
}