@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');


/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

a:hover {
    text-decoration: none
}

a, button, input, textarea {
    outline: none !important;
}

.section-padding {
    padding: 80px 0;
}

/* .container {
    max-width: 1400px;
} */


.hero-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 1;
}

.radial-circle {
    position: absolute;
    width: 1300px;
    height: 1300px;
    left: 50%;
    top: -400px;
    background: radial-gradient(50% 50% at 50% 50%, #4932D8 0%, rgba(65, 87, 202, 0.553046) 41.15%, rgba(67, 88, 200, 0.488074) 52.08%, rgba(75, 93, 192, 0.233946) 99.98%, rgba(74, 93, 191, 0.213542) 99.99%, rgba(68, 87, 184, 0) 100%);
    transform: translateX(-50%);
    z-index: -1;
}

.hero-text a {
    margin-bottom: 40px;
    display: inline-block;
}

.hero-text p {
    font-weight: 300;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: .5px;
}

.hero-btn a {
    display: inline-block;
    filter: drop-shadow(0px 3px 30px rgba(132, 199, 172, 0.6));
    background: #000000;
    border-radius: 20px;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #82FAD2;
    width: 300px;
    height: 76px;
    line-height: 76px;
    margin-bottom: 0;
    transition: .3s;
}

.hero-btn {
    margin-top: 130px;
}

.hero-text {
    margin-top: -50px;
}

.hero-btn a:hover {
    filter: none;
}

.about-tiem {
    text-align: center;
    margin-bottom: 30px;
}

.about-area {
    padding-top: 150px;
    padding-bottom: 150px;
}

.about-tiem h3 {
    color: #82FAD2;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: .5px;
}

.about-tiem p {
    font-weight: 300;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}

.work-box-wrapper {
}


.work-box {
    width: 33.33%;
    float: left;
    position: relative;
    z-index: 1;
}

.work-box-inner {
    background: radial-gradient(50% 50% at 50% 50%, #4932D8 0%, rgba(65, 87, 202, 0.553046) 41.15%, rgba(75, 93, 192, 0.233946) 99.98%, rgba(74, 93, 191, 0.213542) 99.99%, rgba(68, 87, 184, 0) 100%);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 550px;
    position: relative;
}

.work-box.boxs-two .work-box-inner {
    background: radial-gradient(50% 50% at 50% 50%, #82FAD2 0%, rgba(75, 93, 192, 0.233946) 99.98%, rgba(74, 93, 191, 0.213542) 99.99%, rgba(68, 87, 184, 0) 100%);
}

.work-text h2 {
    font-weight: 200;
    font-size: 150px;
    line-height: 150 pxpx;
    text-align: center;
    color: #FFFFFF;
}

.work-text p {
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.circle-text {
    position: absolute;
    top: -100px;
    left: -67px;
    width: 500px;
}

.work-progress-area {
    padding-top: 150px;
    padding-bottom: 100px;
}

.mintpact-bx {
    text-align: center;
    margin: 50px 0;
}

.mintpact-bx h4 {
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
    text-align: center;
    color: #FFFFFF;
}

.mintpact-area {
    padding: 150px 0;
    position: relative;
    z-index: 1;
}

.circle-two {
    position: absolute;
    left: 0;
    top: 50%;
    width: 25%;
    transform: translateY(-50%);
}

.lottie-box {
    width: 120px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    height: 120px;
}

.area-title h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 200;
    font-size: 70px;
    line-height: 120px;
    text-align: center;
    color: #FFFFFF;
}

.area-title {
    margin-bottom: 100px;
}

.faq-text h4 {
    font-weight: 300;
    font-size: 20px;
    line-height: 143.8%;
    text-align: justify;
    text-transform: capitalize;
    color: #82FAD2;
    letter-spacing: .4px;
    margin-bottom: 25px;
}

.faq-text p {
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    text-transform: capitalize;
    color: #FFFFFF;
}

.faq-text {
    max-width: 640px;
}

.faq-text {
    max-width: 640px;
    margin: 30px 0;
}

.faq-area {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.faq-boll {
    width: 500px;
    height: 500px;
    background: radial-gradient(50% 50% at 50% 50%, #4932D8 0%, rgba(75, 93, 192, 0.233946) 99.98%, rgba(74, 93, 191, 0.213542) 99.99%, rgba(68, 87, 184, 0) 100%);
    position: absolute;
    right: -220px;
    top: 20%;
    z-index: -1;
}

.footer-link {
    text-align: right;
}

.footer-link ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-link ul li {
    display: inline;
    margin-left: 40px;
}

.footer-link ul li a {
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;

}

footer.footer-home {
    background: #C7C7C7;
    padding: 50px 0;
}

footer.footer-home p {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin: 0;
}

footer.footer-home .container-fluid {
    padding: 0px 50px !important;
}

#anim_1 {
    width: 150px;
    height: 150px;
}

