.nft-card-container {
    margin-bottom: 50px;
    max-height: 550px;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 8px;
    background: #F1F1F1;
}

.card-columns.nfts {
    column-count: 4;
}

.card-columns.nfts .card {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.card-columns.nfts .card .card-img-top {
    height: 100px;
    width: auto;
    margin-top: 20px;
}

.card-columns.nfts .card .icon-selected {
    position: absolute;
    top: 4px;
    right: 4px;
}